<mat-card class="matCardStyle">
  <!-- List Within Mat Card -->
  <mat-list>
    <mat-card class="subCard">
      <mat-list-item>
        <h1 matLine style="font-weight: bolder;"> Contract1 </h1>
        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{customerName}}
        </p>
        <p matLine>
          <span style="font-weight: bold;">Customer Address:</span>
          {{customerAddress}}
        </p>
        <p matLine>
          <span style="font-weight: bold;">Total Price:</span>
          {{totalPrice}}</p>
        <p matLine>
          <span style="font-weight: bold;">Broker Name:</span>
          {{brokerName}}</p>
        <p matLine>
          <span style="font-weight: bold;">Broker Address:</span>
          {{brokerAddress}}</p>
        <p matLine>
          <span style="font-weight: bold;">Contract Start Date</span>
          {{brokerAddress}}</p>
        <p matLine>
          <span style="font-weight: bold;">Contract End Date</span>
          {{contractStartDate}}</p>
        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{contractEndDate}}</p>
      </mat-list-item>
    </mat-card>

    <mat-card class="subCard">
      <mat-list-item>
        <h1 matLine style="font-weight: bolder;"> Contract2 </h1>
        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{customerName}}
        </p>
        <p matLine>
          <span style="font-weight: bold;">Customer Address:</span>
          {{customerAddress}}
        </p>
        <p matLine>
          <span style="font-weight: bold;">Total Price:</span>
          {{totalPrice}}</p>
        <p matLine>
          <span style="font-weight: bold;">Broker Name:</span>
          {{brokerName}}</p>
        <p matLine>
          <span style="font-weight: bold;">Broker Address:</span>
          {{brokerAddress}}</p>
        <p matLine>
          <span style="font-weight: bold;">Contract Start Date</span>
          {{brokerAddress}}</p>
        <p matLine>
          <span style="font-weight: bold;">Contract End Date</span>
          {{contractStartDate}}</p>
        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{contractEndDate}}</p>
      </mat-list-item>
    </mat-card>

    <mat-card class="subCard">
      <mat-list-item>
        <h1 matLine style="font-weight: bolder;"> Contract3 </h1>
        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{customerName}}
        </p>
        <p matLine>
          <span style="font-weight: bold;">Customer Address:</span>
          {{customerAddress}}
        </p>
        <p matLine>
          <span style="font-weight: bold;">Total Price:</span>
          {{totalPrice}}</p>
        <p matLine>
          <span style="font-weight: bold;">Broker Name:</span>
          {{brokerName}}</p>
        <p matLine>
          <span style="font-weight: bold;">Broker Address:</span>
          {{brokerAddress}}</p>
        <p matLine>
          <span style="font-weight: bold;">Contract Start Date</span>
          {{brokerAddress}}</p>
        <p matLine>
          <span style="font-weight: bold;">Contract End Date</span>
          {{contractStartDate}}</p>
        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{contractEndDate}}</p>
      </mat-list-item>
    </mat-card>

    <mat-card class="subCard">
      <mat-list-item>
        <h1 matLine style="font-weight: bolder;"> Contract4 </h1>

        <p matLine>
          <span style="font-weight: bold;">Customer Name:</span>
          {{customerName}}
        </p>

        <p matLine>
          <span style="font-weight: bold;">Customer Address:</span>
          {{customerAddress}}
        </p>

        <p matLine>
          <span style="font-weight: bold;">Total Price:</span>
          {{totalPrice}}</p>

        <p matLine>
          <span style="font-weight: bold;">Broker Name:</span>
          {{brokerName}}</p>

        <p matLine>
          <span style="font-weight: bold;">Broker Address:</span>
          {{brokerAddress}}</p>

        <p matLine>
          <span style="font-weight: bold;">Contract Start Date</span>
          {{brokerAddress}}</p>

        <p matLine>
          <span style="font-weight: bold;">Contract End Date</span>
          {{contractStartDate}}</p>

      </mat-list-item>
    </mat-card>

  </mat-list>
</mat-card>
