<div fxLayout="column" fxLayoutAlign="space-evenly">
  <div fxLayout="row">
    <h1 style="text-align-last: center; font-weight: bolder;">Contract Objects</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <!-- Main Card -->
    <mat-card fxLayout="row" fxLayoutAlign="center" class="mainCardStyle">
      <div fxFlexAlign.xs="center" class="contractObjDiv">
    <!-- Contract Object Cards -->
        <mat-card *ngFor="let d of data"  class="contractObjCardStyle">
          <div fxFlex="23">
          <mat-list>
            <mat-list-item>
              <h1 matLine style="font-weight: bolder;"> ContractObjects </h1>
              <p matLine>
                <span style="font-weight: bold;">Customer Name:</span>
                {{d.customerName}}
              </p>
              <p matLine>
                <span style="font-weight: bold;">Customer Address:</span>
                {{d.customerAddress}}
              </p>
              <p matLine>
                <span style="font-weight: bold;">Total Price:</span>
                {{d.totalPrice}}</p>
              <p matLine>
                <span style="font-weight: bold;">Broker Name:</span>
                {{d.brokerName}}</p>
              <p matLine>
                <span style="font-weight: bold;">Broker Address:</span>
                {{d.brokerAddress}}</p>
              <p matLine>
                <span style="font-weight: bold;">Contract Start Date</span>
                {{d.contractStartDate}}</p>
              <p matLine>
                <span style="font-weight: bold;">Contract End Date</span>
                {{d.contractEndDate}}</p>
            </mat-list-item>
          </mat-list>
        </div>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>


