<div fxLayout="column" fxLayoutAlign="space-evenly">
  <div fxLayout="row">
    <h1 style="text-align-last: center; font-weight: bolder;">Contract Objects</h1>
  </div>
  <div fxLayout="row wrap" fxFlexAlign="center">
    <!-- Main Card -->
    <mat-card class="matCardStyle">
      <div fxFlex="23">
    <!-- Contract Object Cards -->
        <mat-card style="padding: 20px; box-shadow: 1px 2px 2px 1px #91C7C7; margin-bottom: 10px;">
          <mat-list *ngFor="let d of data">
            <mat-list-item>
              <h1 matLine style="font-weight: bolder;"> ContractObjects </h1>
              <p matLine>
                <span style="font-weight: bold;">Customer Name:</span>
                {{d.customerName}}
              </p>
              <p matLine>
                <span style="font-weight: bold;">Customer Address:</span>
                {{d.customerAddress}}
              </p>
              <p matLine>
                <span style="font-weight: bold;">Total Price:</span>
                {{d.totalPrice}}</p>
              <p matLine>
                <span style="font-weight: bold;">Broker Name:</span>
                {{d.brokerName}}</p>
              <p matLine>
                <span style="font-weight: bold;">Broker Address:</span>
                {{d.brokerAddress}}</p>
              <p matLine>
                <span style="font-weight: bold;">Contract Start Date</span>
                {{d.brokerAddress}}</p>
              <p matLine>
                <span style="font-weight: bold;">Contract End Date</span>
                {{d.contractStartDate}}</p>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>


